extends ./lay

block title
    | Results

block content
    if results
        p Hopefully there'll be a better results viewer later. For now, open up your browser's JavaScript console with #[code Ctrl] + #[code Shift] + #[code K] and type #[code results] to view the results.
        script.
            results = !{JSON.stringify(results)};
    else
        h1 Results haven't been generated yet.

append js
    if results
        script(src="/results.js")